{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-async-to-generator",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
